In [4]:
import pandas as pd
import numpy as np

data_1 = pd.read_csv('weather_2019_april_august.csv')
data_2 = pd.read_csv('weather_2019_september_october.csv')
data_3 = pd.read_csv('weather_2018_april_august.csv')
data_4 = pd.read_csv('weather_2018_september_october.csv')

data_1 = data_1.drop(len(data_1) - 1)
data_2 = data_2.drop(len(data_2) - 1)
data_3 = data_3.drop(len(data_3) - 1)
data_4 = data_4.drop(len(data_4) - 1)

In [5]:
data = pd.concat([data_1, data_2,data_3, data_4], ignore_index=True)

In [6]:
data = data.drop(columns=['Time zone'])

data.head(10)

,Year,m,d,Time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019,4,1,00:00,0.0,77.0,0.0,-0.1,4.6
1,2019,4,1,00:10,0.0,77.0,0.0,0.0,4.8
2,2019,4,1,00:20,0.0,77.0,0.0,0.1,5.1
3,2019,4,1,00:30,0.0,77.0,0.0,0.1,4.9
4,2019,4,1,00:40,0.0,76.0,0.0,0.2,5.3
5,2019,4,1,00:50,0.0,77.0,0.0,0.0,5.0
6,2019,4,1,01:00,0.0,78.0,0.0,-0.1,5.1
7,2019,4,1,01:10,0.0,77.0,0.0,0.0,5.2
8,2019,4,1,01:20,0.0,77.0,0.0,0.0,5.0
9,2019,4,1,01:30,0.0,78.0,0.0,0.0,4.1

In [7]:
print('Number of data points:', len(data))

Number of data points: 68832

**Fill NaNs**

In [8]:
print(data['Cloud amount (1/8)'].isna().sum(), 'NaNs in Cloud amount')
print(data['Precipitation intensity (mm/h)'].isna().sum(), 'NaNs in Precipitation intensity')
print(data['Relative humidity (%)'].isna().sum(), 'NaNs in Relative humidity')
print(data['Air temperature (degC)'].isna().sum(), 'NaNs in Air temperature')
print(data['Wind speed (m/s)'].isna().sum(), 'NaNs in Wind speed')

161 NaNs in Cloud amount
51 NaNs in Precipitation intensity
35 NaNs in Relative humidity
9779 NaNs in Air temperature
80 NaNs in Wind speed

In [9]:
types = ['Cloud amount (1/8)', 'Precipitation intensity (mm/h)', 'Relative humidity (%)',
            'Air temperature (degC)', 'Wind speed (m/s)']

for typ in types:
    for i in range(len(data)):
        if np.isnan(data[typ][i]):
            
            j = 1
            up = data[typ][i - j]
            while np.isnan(up):
                up = data[typ][i - j]
                j += 1
                
            k = 1
            down = data[typ][i + k]
            while np.isnan(down):
                down = data[typ][i + k]
                k += 1
                
            avg = (up + down) / 2
            data.loc[i, typ] = avg

In [10]:
print(data['Cloud amount (1/8)'].isna().sum(), 'NaNs in Cloud amount')
print(data['Precipitation intensity (mm/h)'].isna().sum(), 'NaNs in Precipitation intensity')
print(data['Relative humidity (%)'].isna().sum(), 'NaNs in Relative humidity')
print(data['Air temperature (degC)'].isna().sum(), 'NaNs in Air temperature')
print(data['Wind speed (m/s)'].isna().sum(), 'NaNs in Wind speed')

0 NaNs in Cloud amount
0 NaNs in Precipitation intensity
0 NaNs in Relative humidity
0 NaNs in Air temperature
0 NaNs in Wind speed

**Upscale data**

Copy data

In [11]:
data_5min = []

for i in range(len(data)):
    data_5min.append(data.iloc[i])
    data_5min.append(data.iloc[i])

In [12]:
index_5min = list(range(len(data_5min)))

data_5min = pd.DataFrame(data_5min, index=index_5min)

Adapt timestamp

In [13]:
for i in range(1, len(data_5min), 2):
    data_5min.loc[i, 'Time'] = data_5min['Time'][i][:-1] + '5'

In [14]:
data_5min

,Year,m,d,Time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019,4,1,00:00,0.0,77.0,0.0,-0.1,4.6
1,2019,4,1,00:05,0.0,77.0,0.0,-0.1,4.6
2,2019,4,1,00:10,0.0,77.0,0.0,0.0,4.8
3,2019,4,1,00:15,0.0,77.0,0.0,0.0,4.8
4,2019,4,1,00:20,0.0,77.0,0.0,0.1,5.1
...,...,...,...,...,...,...,...,...,...
137659,2018,10,31,23:35,7.0,86.0,0.0,9.4,8.4
137660,2018,10,31,23:40,7.0,86.0,0.0,9.4,9.8
137661,2018,10,31,23:45,7.0,86.0,0.0,9.4,9.8
137662,2018,10,31,23:50,8.0,85.0,0.0,9.4,8.6
137663,2018,10,31,23:55,8.0,85.0,0.0,9.4,8.6

**Create timestamp**

In [15]:
months = [str(i).zfill(2) for i in data_5min['m']]
days = [str(i).zfill(2) for i in data_5min['d']]

In [16]:
timestamps = [str(data_5min['Year'][i]) + str(months[i]) + str(days[i]) + data_5min['Time'][i][:2] 
              + data_5min['Time'][i][3:] for i in range(len(data_5min))]

# timestamps = [str(data['Year'][i]) + '/' + str(months[i]) + '/' + str(days[i]) + ' ' + str(data['Time'][i]) + ':00'
#               for i in range(len(data))]

data_5min['Timestamp'] = pd.to_datetime(timestamps)

In [17]:
#data = data.drop(columns=['Year', 'm', 'd', 'Time'])

In [18]:
data_5min

,Year,m,d,Time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),Timestamp
0,2019,4,1,00:00,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:00:00
1,2019,4,1,00:05,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:05:00
2,2019,4,1,00:10,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:10:00
3,2019,4,1,00:15,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:15:00
4,2019,4,1,00:20,0.0,77.0,0.0,0.1,5.1,2019-04-01 00:20:00
...,...,...,...,...,...,...,...,...,...,...
137659,2018,10,31,23:35,7.0,86.0,0.0,9.4,8.4,2018-10-31 23:35:00
137660,2018,10,31,23:40,7.0,86.0,0.0,9.4,9.8,2018-10-31 23:40:00
137661,2018,10,31,23:45,7.0,86.0,0.0,9.4,9.8,2018-10-31 23:45:00
137662,2018,10,31,23:50,8.0,85.0,0.0,9.4,8.6,2018-10-31 23:50:00
137663,2018,10,31,23:55,8.0,85.0,0.0,9.4,8.6,2018-10-31 23:55:00

**Save as csv**

In [19]:
data.to_csv('weather_2018+2019_prepared.csv')

In [20]:
data_5min.to_csv('weather_2018+2019_upscale.csv')