In [46]:
import pandas as pd
bike_arrivals = pd.read_csv("final_arrivals_data.csv",header=0,index_col=0)
bike_departures = pd.read_csv("final_departures_data.csv",header=0,index_col=0)

C:\Users\katio\AppData\Local\Programs\Python\Python37\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
bike_arrivals

,Timestamp,id,arrivals,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019-04-01 05:50:00,25,1,0,91,71,0.0,71.0,0.0,1.4,5.3
1,2019-04-01 05:55:00,83,1,0,91,72,0.0,71.0,0.0,1.4,5.3
2,2019-04-01 06:10:00,64,1,0,91,75,0.0,67.0,0.0,2.0,4.4
3,2019-04-01 06:15:00,114,1,0,91,76,0.0,67.0,0.0,2.0,4.4
4,2019-04-01 06:30:00,30,1,0,91,79,0.0,65.0,0.0,2.3,4.5
...,...,...,...,...,...,...,...,...,...,...,...
2652353,2019-11-03 15:50:00,260,1,6,307,191,3.0,96.0,0.0,1.9,2.3
2652354,2019-11-03 16:55:00,731,1,6,307,204,0.0,98.0,0.0,1.0,2.4
2652355,2019-11-04 06:55:00,551,1,0,308,84,7.0,84.0,0.0,-1.1,5.0
2652356,2019-11-04 10:30:00,138,2,0,308,127,7.0,77.0,0.0,0.0,5.2
2652357,2019-11-04 11:20:00,525,1,0,308,137,0.0,76.0,0.0,0.1,5.5

In [4]:
bike_departures

,Timestamp,id,departures,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019-04-01 05:40:00,60,1,0,91,69,0.0,74.0,0.0,1.1,4.8
1,2019-04-01 05:50:00,85,1,0,91,71,0.0,71.0,0.0,1.4,5.3
2,2019-04-01 06:00:00,86,1,0,91,73,0.0,68.0,0.0,1.7,5.0
3,2019-04-01 06:05:00,26,1,0,91,74,0.0,68.0,0.0,1.7,5.0
4,2019-04-01 06:10:00,35,1,0,91,75,0.0,67.0,0.0,2.0,4.4
...,...,...,...,...,...,...,...,...,...,...,...
2597574,2019-10-31 23:50:00,82,2,3,304,287,0.0,94.0,0.0,0.1,4.6
2597575,2019-10-31 23:50:00,95,1,3,304,287,0.0,94.0,0.0,0.1,4.6
2597576,2019-10-31 23:50:00,161,1,3,304,287,0.0,94.0,0.0,0.1,4.6
2597577,2019-10-31 23:55:00,22,1,3,304,288,0.0,94.0,0.0,0.1,4.6
2597578,2019-10-31 23:55:00,260,1,3,304,288,0.0,94.0,0.0,0.1,4.6

In [5]:
time_convert = pd.DataFrame(pd.date_range(start="00:00:00",end="23:55:00",freq ='5T').strftime('%H:%M:%S'))
time_convert.rename(columns = {0:'time'}, inplace = True)
time_convert['to_int'] = pd.RangeIndex(start=1,stop=time_convert.shape[0]+1)
time_convert = time_convert.set_index('time')
time_convert

          to_int
time
00:00:00       1
00:05:00       2
00:10:00       3
00:15:00       4
00:20:00       5
...          ...
23:35:00     284
23:40:00     285
23:45:00     286
23:50:00     287
23:55:00     288

[288 rows x 1 columns]

In [47]:
bike_arrivals['Timestamp'] = pd.to_datetime(bike_arrivals['Timestamp'])
bike_arrivals['day_of_year'] = bike_arrivals['Timestamp'].dt.dayofyear
bike_arrivals['day_of_week'] = bike_arrivals['Timestamp'].dt.dayofweek
bike_arrivals['time'] = bike_arrivals['Timestamp'].dt.strftime('%H:%M:%S')
bike_arrivals

,Timestamp,id,arrivals,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019-04-01 05:50:00,25,1,0,91,05:50:00,0.0,71.0,0.0,1.4,5.3
1,2019-04-01 05:55:00,83,1,0,91,05:55:00,0.0,71.0,0.0,1.4,5.3
2,2019-04-01 06:10:00,64,1,0,91,06:10:00,0.0,67.0,0.0,2.0,4.4
3,2019-04-01 06:15:00,114,1,0,91,06:15:00,0.0,67.0,0.0,2.0,4.4
4,2019-04-01 06:30:00,30,1,0,91,06:30:00,0.0,65.0,0.0,2.3,4.5
...,...,...,...,...,...,...,...,...,...,...,...
2652353,2019-11-03 15:50:00,260,1,6,307,15:50:00,3.0,96.0,0.0,1.9,2.3
2652354,2019-11-03 16:55:00,731,1,6,307,16:55:00,0.0,98.0,0.0,1.0,2.4
2652355,2019-11-04 06:55:00,551,1,0,308,06:55:00,7.0,84.0,0.0,-1.1,5.0
2652356,2019-11-04 10:30:00,138,2,0,308,10:30:00,7.0,77.0,0.0,0.0,5.2
2652357,2019-11-04 11:20:00,525,1,0,308,11:20:00,0.0,76.0,0.0,0.1,5.5

In [48]:
bike_arrivals = bike_arrivals.join(time_convert,on="time")
bike_arrivals.drop(columns="time",inplace=True)
bike_arrivals.rename(columns = {'to_int':'time'}, inplace = True)
bike_arrivals

,Timestamp,id,arrivals,day_of_week,day_of_year,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),time
0,2019-04-01 05:50:00,25,1,0,91,0.0,71.0,0.0,1.4,5.3,71
1,2019-04-01 05:55:00,83,1,0,91,0.0,71.0,0.0,1.4,5.3,72
2,2019-04-01 06:10:00,64,1,0,91,0.0,67.0,0.0,2.0,4.4,75
3,2019-04-01 06:15:00,114,1,0,91,0.0,67.0,0.0,2.0,4.4,76
4,2019-04-01 06:30:00,30,1,0,91,0.0,65.0,0.0,2.3,4.5,79
...,...,...,...,...,...,...,...,...,...,...,...
2652353,2019-11-03 15:50:00,260,1,6,307,3.0,96.0,0.0,1.9,2.3,191
2652354,2019-11-03 16:55:00,731,1,6,307,0.0,98.0,0.0,1.0,2.4,204
2652355,2019-11-04 06:55:00,551,1,0,308,7.0,84.0,0.0,-1.1,5.0,84
2652356,2019-11-04 10:30:00,138,2,0,308,7.0,77.0,0.0,0.0,5.2,127
2652357,2019-11-04 11:20:00,525,1,0,308,0.0,76.0,0.0,0.1,5.5,137

In [49]:
bike_departures['Timestamp'] = pd.to_datetime(bike_departures['Timestamp'])
bike_departures['day_of_year'] = bike_departures['Timestamp'].dt.dayofyear
bike_departures['day_of_week'] = bike_departures['Timestamp'].dt.dayofweek
bike_departures['time'] = bike_departures['Timestamp'].dt.strftime('%H:%M:%S')
bike_departures = bike_departures.join(time_convert,on="time")
bike_departures.drop(columns="time",inplace=True)
bike_departures.rename(columns = {'to_int':'time'}, inplace = True)
bike_departures

,Timestamp,id,departures,day_of_week,day_of_year,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),time
0,2019-04-01 05:40:00,60,1,0,91,0.0,74.0,0.0,1.1,4.8,69
1,2019-04-01 05:50:00,85,1,0,91,0.0,71.0,0.0,1.4,5.3,71
2,2019-04-01 06:00:00,86,1,0,91,0.0,68.0,0.0,1.7,5.0,73
3,2019-04-01 06:05:00,26,1,0,91,0.0,68.0,0.0,1.7,5.0,74
4,2019-04-01 06:10:00,35,1,0,91,0.0,67.0,0.0,2.0,4.4,75
...,...,...,...,...,...,...,...,...,...,...,...
2597574,2019-10-31 23:50:00,82,2,3,304,0.0,94.0,0.0,0.1,4.6,287
2597575,2019-10-31 23:50:00,95,1,3,304,0.0,94.0,0.0,0.1,4.6,287
2597576,2019-10-31 23:50:00,161,1,3,304,0.0,94.0,0.0,0.1,4.6,287
2597577,2019-10-31 23:55:00,22,1,3,304,0.0,94.0,0.0,0.1,4.6,288
2597578,2019-10-31 23:55:00,260,1,3,304,0.0,94.0,0.0,0.1,4.6,288

In [50]:
bike_arrivals.to_csv('final_arrivals_data.csv')
bike_departures.to_csv('final_departures_data.csv')